@font-face {
  font-family: 'mt-web-icons';
  src:  url('fonts/mt-web-icons.eot?c4af2d');
  src:  url('fonts/mt-web-icons.eot?c4af2d#iefix') format('embedded-opentype'),
    url('fonts/mt-web-icons.ttf?c4af2d') format('truetype'),
    url('fonts/mt-web-icons.woff?c4af2d') format('woff'),
    url('fonts/mt-web-icons.svg?c4af2d#mt-web-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mt-"], [class*=" mt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mt-web-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-advertising_expense:before {
  content: "\e92a";
}
.mt-air_fare:before {
  content: "\e92b";
}
.mt-air_travel:before {
  content: "\e92c";
}
.mt-allowance:before {
  content: "\e92d";
}
.mt-alphabet:before {
  content: "\e92e";
}
.mt-amusement_park:before {
  content: "\e92f";
}
.mt-anchor:before {
  content: "\e930";
}
.mt-arcade:before {
  content: "\e931";
}
.mt-atm_deposit:before {
  content: "\e932";
}
.mt-atm_fee:before {
  content: "\e933";
}
.mt-attorney_fee:before {
  content: "\e934";
}
.mt-auto:before {
  content: "\e936";
}
.mt-auto_insurance:before {
  content: "\e935";
}
.mt-bank_fee:before {
  content: "\e937";
}
.mt-beauty:before {
  content: "\e938";
}
.mt-benefits_welfare_expenses:before {
  content: "\e939";
}
.mt-bin:before {
  content: "\e93a";
}
.mt-bonus:before {
  content: "\e93b";
}
.mt-book_cost:before {
  content: "\e93c";
}
.mt-books_magazines:before {
  content: "\e93d";
}
.mt-books_supplies:before {
  content: "\e93e";
}
.mt-bucket:before {
  content: "\e93f";
}
.mt-bug:before {
  content: "\e940";
}
.mt-bulb:before {
  content: "\e941";
}
.mt-bus:before {
  content: "\e943";
}
.mt-bus_fare:before {
  content: "\e942";
}
.mt-business_expense:before {
  content: "\e968";
}
.mt-business_trip_fee:before {
  content: "\e944";
}
.mt-buy:before {
  content: "\e945";
}
.mt-cafe_coffee_shop:before {
  content: "\e946";
}
.mt-calender:before {
  content: "\e947";
}
.mt-card_payment:before {
  content: "\e948";
}
.mt-cash_atm:before {
  content: "\e949";
}
.mt-cash_gift:before {
  content: "\e94a";
}
.mt-charity:before {
  content: "\e94b";
}
.mt-children:before {
  content: "\e94c";
}
.mt-clothing:before {
  content: "\e94d";
}
.mt-communication_cost:before {
  content: "\e94e";
}
.mt-communications:before {
  content: "\e94f";
}
.mt-compass:before {
  content: "\e950";
}
.mt-connection:before {
  content: "\e951";
}
.mt-consumable_supplies_expenses:before {
  content: "\e952";
}
.mt-convenience_store:before {
  content: "\e953";
}
.mt-corp_account_transfer:before {
  content: "\ea03";
}
.mt-corp_ads:before {
  content: "\ea04";
}
.mt-corp_benefits:before {
  content: "\ea05";
}
.mt-corp_comm:before {
  content: "\ea06";
}
.mt-corp_consumption_tax_payment:before {
  content: "\ea07";
}
.mt-corp_consumption_tax_refund:before {
  content: "\ea08";
}
.mt-corp_debt:before {
  content: "\ea09";
}
.mt-corp_delivery:before {
  content: "\ea0a";
}
.mt-corp_entertainment:before {
  content: "\ea0b";
}
.mt-corp_fixed_assets:before {
  content: "\ea0c";
}
.mt-corp_insurance:before {
  content: "\ea0d";
}
.mt-corp_interest_expenses:before {
  content: "\ea0e";
}
.mt-corp_interest_received:before {
  content: "\ea10";
}
.mt-corp_interest_received-_copy:before {
  content: "\ea0f";
}
.mt-corp_investment:before {
  content: "\ea11";
}
.mt-corp_loan:before {
  content: "\ea12";
}
.mt-corp_misc:before {
  content: "\ea13";
}
.mt-corp_outsource:before {
  content: "\ea14";
}
.mt-corp_purchase:before {
  content: "\ea15";
}
.mt-corp_rent:before {
  content: "\ea16";
}
.mt-corp_repair:before {
  content: "\ea17";
}
.mt-corp_salary:before {
  content: "\ea18";
}
.mt-corp_sales:before {
  content: "\ea19";
}
.mt-corp_sundry_taxes:before {
  content: "\ea1a";
}
.mt-corp_supplies:before {
  content: "\ea1b";
}
.mt-corp_tax_payment:before {
  content: "\ea1c";
}
.mt-corp_travel:before {
  content: "\ea1d";
}
.mt-corp_utilities:before {
  content: "\ea1e";
}
.mt-cosmetics:before {
  content: "\e954";
}
.mt-daycare:before {
  content: "\e955";
}
.mt-debt_repayment:before {
  content: "\e956";
}
.mt-delivery_cost:before {
  content: "\e957";
}
.mt-dentist:before {
  content: "\e958";
}
.mt-dice:before {
  content: "\e959";
}
.mt-dividend_cap_gains:before {
  content: "\e95a";
}
.mt-doctor:before {
  content: "\e95b";
}
.mt-download-from-cloud:before {
  content: "\ea01";
}
.mt-drops:before {
  content: "\e95c";
}
.mt-eating_out:before {
  content: "\e95d";
}
.mt-education:before {
  content: "\e95e";
}
.mt-electricity:before {
  content: "\e960";
}
.mt-electricity_bill:before {
  content: "\e95f";
}
.mt-electronics:before {
  content: "\e961";
}
.mt-elephant:before {
  content: "\e962";
}
.mt-employeetravelfee:before {
  content: "\e963";
}
.mt-employment_insurance_premium:before {
  content: "\e964";
}
.mt-entertainment:before {
  content: "\e966";
}
.mt-entertainment_expenses:before {
  content: "\e965";
}
.mt-exclude:before {
  content: "\e967";
}
.mt-eyecare:before {
  content: "\e969";
}
.mt-fastfood:before {
  content: "\e96a";
}
.mt-fees:before {
  content: "\e96b";
}
.mt-financial_services:before {
  content: "\e96c";
}
.mt-fire:before {
  content: "\e96d";
}
.mt-flashlight:before {
  content: "\e96e";
}
.mt-flower:before {
  content: "\e96f";
}
.mt-folder:before {
  content: "\e970";
}
.mt-fuel:before {
  content: "\e971";
}
.mt-games:before {
  content: "\e972";
}
.mt-gas:before {
  content: "\e973";
}
.mt-gender_female:before {
  content: "\e974";
}
.mt-gender_male:before {
  content: "\e975";
}
.mt-gift_item_fee:before {
  content: "\e976";
}
.mt-gifts_donations:before {
  content: "\e977";
}
.mt-glasses:before {
  content: "\e978";
}
.mt-groceries:before {
  content: "\e979";
}
.mt-gym_fitness:before {
  content: "\e97a";
}
.mt-health_insurance_premium:before {
  content: "\e97b";
}
.mt-health_medical:before {
  content: "\e97c";
}
.mt-heart:before {
  content: "\e97d";
}
.mt-holiday_leisure:before {
  content: "\e97e";
}
.mt-home:before {
  content: "\e984";
}
.mt-home_improvement:before {
  content: "\e97f";
}
.mt-home_insurance:before {
  content: "\e980";
}
.mt-home_phone:before {
  content: "\e981";
}
.mt-home_rent:before {
  content: "\e982";
}
.mt-home_supplies:before {
  content: "\e983";
}
.mt-hotel:before {
  content: "\e985";
}
.mt-housekeeping_consumption:before {
  content: "\e986";
}
.mt-income_amount:before {
  content: "\e987";
}
.mt-insufficient-funds-o:before {
  content: "\ea02";
}
.mt-interest_charge:before {
  content: "\e988";
}
.mt-interest_discount_fee:before {
  content: "\e989";
}
.mt-interest_income:before {
  content: "\e98a";
}
.mt-internet:before {
  content: "\e98c";
}
.mt-internet_fee:before {
  content: "\e98b";
}
.mt-investments:before {
  content: "\e98d";
}
.mt-invisible:before {
  content: "\e90a";
}
.mt-ipad:before {
  content: "\e98e";
}
.mt-ipod:before {
  content: "\e98f";
}
.mt-izakaya_bars:before {
  content: "\e990";
}
.mt-judicial_scrivener_fee:before {
  content: "\e991";
}
.mt-karaoke:before {
  content: "\e992";
}
.mt-key:before {
  content: "\e993";
}
.mt-leaf:before {
  content: "\e994";
}
.mt-legal:before {
  content: "\e995";
}
.mt-life:before {
  content: "\e997";
}
.mt-life_insurance:before {
  content: "\e996";
}
.mt-like:before {
  content: "\e998";
}
.mt-lock:before {
  content: "\e999";
}
.mt-love:before {
  content: "\e99a";
}
.mt-lunch:before {
  content: "\e99b";
}
.mt-media:before {
  content: "\e99c";
}
.mt-megaphone:before {
  content: "\e99d";
}
.mt-message:before {
  content: "\e99e";
}
.mt-miscellaneous_expenses:before {
  content: "\e99f";
}
.mt-mobile_phone:before {
  content: "\e9a0";
}
.mt-more:before {
  content: "\ea00";
}
.mt-movies:before {
  content: "\e9a1";
}
.mt-museum_theatre:before {
  content: "\e9a2";
}
.mt-music:before {
  content: "\e9a3";
}
.mt-newspaper_fee:before {
  content: "\e9a4";
}
.mt-nexus:before {
  content: "\e9a5";
}
.mt-office_equipment:before {
  content: "\e9a6";
}
.mt-office_supplies:before {
  content: "\e9a7";
}
.mt-omiyage:before {
  content: "\e9a8";
}
.mt-online_service:before {
  content: "\e9a9";
}
.mt-onsen:before {
  content: "\e9aa";
}
.mt-other_income:before {
  content: "\e9ab";
}
.mt-other_insurance:before {
  content: "\e9ac";
}
.mt-outsourced_labor:before {
  content: "\e9ad";
}
.mt-packing_freight:before {
  content: "\e9ae";
}
.mt-paper:before {
  content: "\e9af";
}
.mt-parking:before {
  content: "\e9b1";
}
.mt-parking_fee:before {
  content: "\e9b0";
}
.mt-pediatrician:before {
  content: "\e9b2";
}
.mt-personal_care:before {
  content: "\e9b3";
}
.mt-pets:before {
  content: "\e9b4";
}
.mt-pharmacy:before {
  content: "\e9b5";
}
.mt-photo:before {
  content: "\e9b6";
}
.mt-pie:before {
  content: "\e9b7";
}
.mt-pin:before {
  content: "\e9b8";
}
.mt-points:before {
  content: "\e9b9";
}
.mt-portfolio:before {
  content: "\e9ba";
}
.mt-postage_expense:before {
  content: "\e9bb";
}
.mt-printing:before {
  content: "\e9bc";
}
.mt-property_insurance_premium:before {
  content: "\e9bd";
}
.mt-r_d_expenses:before {
  content: "\e9be";
}
.mt-recruitment_fee:before {
  content: "\e9bf";
}
.mt-rent:before {
  content: "\e9c0";
}
.mt-rental_car:before {
  content: "\e9c1";
}
.mt-rental_income:before {
  content: "\e9c2";
}
.mt-repair_costs:before {
  content: "\e9c3";
}
.mt-residency_tax:before {
  content: "\e9c4";
}
.mt-restaurant:before {
  content: "\e9c5";
}
.mt-salary:before {
  content: "\e9c7";
}
.mt-salary_wage:before {
  content: "\e9c6";
}
.mt-sales_amount:before {
  content: "\e9c8";
}
.mt-school_fees:before {
  content: "\e9c9";
}
.mt-sell:before {
  content: "\e9ca";
}
.mt-sent:before {
  content: "\e9cb";
}
.mt-service:before {
  content: "\e9cc";
}
.mt-shipping:before {
  content: "\e9cd";
}
.mt-shoes:before {
  content: "\e9ce";
}
.mt-shopping:before {
  content: "\e9cf";
}
.mt-shrimp:before {
  content: "\e9d0";
}
.mt-smoking:before {
  content: "\e9d1";
}
.mt-software:before {
  content: "\e9d2";
}
.mt-sparrow:before {
  content: "\e9d3";
}
.mt-splat:before {
  content: "\e9d4";
}
.mt-sporting_goods:before {
  content: "\e9d5";
}
.mt-spruce:before {
  content: "\e9d6";
}
.mt-square:before {
  content: "\e9d7";
}
.mt-stamp_fee:before {
  content: "\e9d8";
}
.mt-star:before {
  content: "\e9d9";
}
.mt-clear:before {
  content: "\e90b";
}
.mt-strawberry:before {
  content: "\e9da";
}
.mt-student_loan:before {
  content: "\e9db";
}
.mt-tax_accountant_fee:before {
  content: "\e9dc";
}
.mt-tax_and_public_duty:before {
  content: "\e9dd";
}
.mt-tax_fee:before {
  content: "\e9de";
}
.mt-tax_registration:before {
  content: "\e9df";
}
.mt-taxes:before {
  content: "\e9e0";
}
.mt-taxi:before {
  content: "\e9e2";
}
.mt-taxi_fare:before {
  content: "\e9e1";
}
.mt-telephone_bill:before {
  content: "\e9e3";
}
.mt-television:before {
  content: "\e9e4";
}
.mt-theater:before {
  content: "\e9e5";
}
.mt-timer:before {
  content: "\e9e6";
}
.mt-toll_road_fee:before {
  content: "\e9e7";
}
.mt-tollway:before {
  content: "\e9e8";
}
.mt-tone:before {
  content: "\e9e9";
}
.mt-train:before {
  content: "\e9eb";
}
.mt-train_fare:before {
  content: "\e9ea";
}
.mt-transfer:before {
  content: "\e9ed";
}
.mt-transfer_fee:before {
  content: "\e9ec";
}
.mt-transport:before {
  content: "\e9ee";
}
.mt-travel_expenses:before {
  content: "\e9ef";
}
.mt-tuition:before {
  content: "\e9f0";
}
.mt-uinlocked:before {
  content: "\e9f1";
}
.mt-uncategorized:before {
  content: "\e9f2";
}
.mt-utilities:before {
  content: "\e9f3";
}
.mt-video:before {
  content: "\e9f4";
}
.mt-visible:before {
  content: "\e90c";
}
.mt-warehouse_cost:before {
  content: "\e9f5";
}
.mt-water:before {
  content: "\e9f8";
}
.mt-water_bill:before {
  content: "\e9f6";
}
.mt-water_utility_expenses:before {
  content: "\e9f7";
}
.mt-welfare_pension_insurance_premium:before {
  content: "\e9f9";
}
.mt-window:before {
  content: "\e9fa";
}
.mt-workers_compensation_insurance_premium:before {
  content: "\e9fb";
}
.mt-all-accounts:before {
  content: "\e904";
}
.mt-application:before {
  content: "\ea39";
}
.mt-back:before {
  content: "\ea2b";
}
.mt-check:before {
  content: "\ea40";
}
.mt-chevron-down:before {
  content: "\ea45";
}
.mt-chevron-left:before {
  content: "\ea41";
}
.mt-chevron-right:before {
  content: "\ea42";
}
.mt-chevron-up:before {
  content: "\ea44";
}
.mt-cross:before {
  content: "\ea43";
}
.mt-error:before {
  content: "\e903";
}
.mt-external-link:before {
  content: "\e909";
}
.mt-forward:before {
  content: "\ea2c";
}
.mt-institution-bank:before {
  content: "\ea29";
}
.mt-institution-corporate:before {
  content: "\ea28";
}
.mt-institution-credit-card:before {
  content: "\ea27";
}
.mt-institution-manual:before {
  content: "\ea26";
}
.mt-institution-point:before {
  content: "\ea25";
}
.mt-institution-stock:before {
  content: "\ea24";
}
.mt-institution-stored-value:before {
  content: "\ea23";
}
.mt-logo:before {
  content: "\ea3a";
}
.mt-logotype:before {
  content: "\ea2a";
}
.mt-nub-down:before {
  content: "\ea3e";
}
.mt-nub-left:before {
  content: "\ea3b";
}
.mt-nub-right:before {
  content: "\ea3c";
}
.mt-nub-up:before {
  content: "\ea3d";
}
.mt-organization:before {
  content: "\ea20";
}
.mt-plus:before {
  content: "\e902";
}
.mt-question:before {
  content: "\ea3f";
}
.mt-refresh:before {
  content: "\e901";
}
.mt-scope-accounts-read:before {
  content: "\ea37";
}
.mt-scope-categories-read:before {
  content: "\ea34";
}
.mt-scope-categories-write:before {
  content: "\ea33";
}
.mt-scope-expense-claims-read:before {
  content: "\ea32";
}
.mt-scope-expense-claims-write:before {
  content: "\ea31";
}
.mt-scope-guest-read:before {
  content: "\ea38";
}
.mt-scope-investment-accounts-read:before {
  content: "\ea22";
}
.mt-scope-investment-transactions-read:before {
  content: "\ea21";
}
.mt-scope-life-insurance-read:before {
  content: "\ea30";
}
.mt-scope-notifications-read:before {
  content: "\ea2f";
}
.mt-scope-point-transactions-read:before {
  content: "\ea1f";
}
.mt-scope-points-read:before {
  content: "\ea2d";
}
.mt-scope-request-refresh:before {
  content: "\ea2e";
}
.mt-scope-transactions-read:before {
  content: "\ea36";
}
.mt-scope-transactions-write:before {
  content: "\ea35";
}
.mt-search:before {
  content: "\e905";
}
.mt-settings:before {
  content: "\e900";
}
.mt-status-error:before {
  content: "\e906";
}
.mt-status-refresh:before {
  content: "\e908";
}
.mt-status-updated:before {
  content: "\e907";
}
