@font-face {
  font-family: 'mt-web-icons';
  src:  url('fonts/mt-web-icons.eot?yfqjuj');
  src:  url('fonts/mt-web-icons.eot?yfqjuj#iefix') format('embedded-opentype'),
    url('fonts/mt-web-icons.ttf?yfqjuj') format('truetype'),
    url('fonts/mt-web-icons.woff?yfqjuj') format('woff'),
    url('fonts/mt-web-icons.svg?yfqjuj#mt-web-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mt-"], [class*=" mt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mt-web-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-status-error:before {
  content: "\e906";
}
.mt-status-updated:before {
  content: "\e907";
}
.mt-error:before {
  content: "\e903";
}
.mt-all-accounts:before {
  content: "\e904";
}
.mt-search:before {
  content: "\e905";
}
.mt-settings:before {
  content: "\e900";
}
.mt-refresh:before {
  content: "\e901";
}
.mt-institution-stored-value:before {
  content: "\ea23";
}
.mt-institution-stock:before {
  content: "\ea24";
}
.mt-institution-point:before {
  content: "\ea25";
}
.mt-institution-manual:before {
  content: "\ea26";
}
.mt-institution-credit-card:before {
  content: "\ea27";
}
.mt-institution-corporate:before {
  content: "\ea28";
}
.mt-institution-bank:before {
  content: "\ea29";
}
.mt-scope-investment-accounts-read:before {
  content: "\ea22";
}
.mt-scope-investment-transactions-read:before {
  content: "\ea21";
}
.mt-scope-point-transactions-read:before {
  content: "\ea04";
}
.mt-scope-points-read:before {
  content: "\ea1f";
}
.mt-scope-request-refresh:before {
  content: "\ea05";
}
.mt-scope-notifications-read:before {
  content: "\ea06";
}
.mt-scope-life-insurance-read:before {
  content: "\ea07";
}
.mt-scope-expense-claims-write:before {
  content: "\ea08";
}
.mt-scope-expense-claims-read:before {
  content: "\ea09";
}
.mt-scope-categories-write:before {
  content: "\ea0a";
}
.mt-scope-categories-read:before {
  content: "\ea0b";
}
.mt-scope-transactions-write:before {
  content: "\ea0c";
}
.mt-scope-transactions-read:before {
  content: "\ea20";
}
.mt-scope-accounts-read:before {
  content: "\ea0d";
}
.mt-scope-guest-read:before {
  content: "\ea0e";
}
.mt-application:before {
  content: "\ea10";
}
.mt-organization:before {
  content: "\ea11";
}
.mt-logotype:before {
  content: "\ea13";
}
.mt-logo:before {
  content: "\ea14";
}
.mt-nub-left:before {
  content: "\ea15";
}
.mt-nub-right:before {
  content: "\ea16";
}
.mt-nub-up:before {
  content: "\ea17";
}
.mt-nub-down:before {
  content: "\ea1e";
}
.mt-question:before {
  content: "\ea1d";
}
.mt-check:before {
  content: "\ea0f";
}
.mt-chevron-left:before {
  content: "\ea1c";
}
.mt-plus:before {
  content: "\e902";
}
.mt-chevron-right:before {
  content: "\ea1b";
}
.mt-cross:before {
  content: "\ea12";
}
.mt-chevron-up:before {
  content: "\ea1a";
}
.mt-chevron-down:before {
  content: "\ea19";
}
.mt-back:before {
  content: "\ea18";
}
.mt-forward:before {
  content: "\ea03";
}
